@use 'sass:math';

$background-color: rgb(25,42,50);


// GameBoard Styles Variables
$slot-color: rgb(30,54,64);
$hash-color: $background-color;

$slot-size-lg: 160px; 
$slot-size-md: 120px;
$slot-size-sm: 80px;

$grid-gap-lg: 20px;
$grid-gap-md: 15px;
$grid-gap-sm: 10px;

$container-size-lg: ($slot-size-lg * 3) + ($grid-gap-lg * 2);
$container-size-md: ($slot-size-md * 3) + ($grid-gap-md * 2);
$container-size-sm: ($slot-size-sm * 3) + ($grid-gap-sm * 2);

// Player Deck Styles Variables
$deck-color: rgb(30,54,64);
$deck-size-lg: 210px;
$deck-size-md: 190px;
$deck-size-sm: 180px;

$deck-height-lg: ($slot-size-lg * 3.5);


$coin-size-lg: 120px;
$coin-size-md: 100px;
$coin-size-sm: 80px;

