@use 'sass:math';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    background-color: $background-color;
}

.TicTacToeApp {
    font-family: 'Roboto', sans-serif;
    background-color: $background-color;
}

header{
    width: $container-size-lg;
    margin: auto;
    text-align: center;
    color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div.turn-signal{
        background: darken($slot-color, 7%);
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        width: 100px;
        border-radius: 10px;
        h3{
            margin: 5px;
        }
        .cross{
            padding-right: 3px;
        }
        span.circle{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 5px solid $player-2-color ;
            display: inline-block;
            margin: 3px 0 0 0;
        }
    }
    div.title{
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;
        h1{
            margin: 10px;
        }
    }

    span.circle{
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 10px solid $player-2-color;
        display: inline-block;
        margin: 10px;
    }

    .reset-shadow{
        background: darken(lightgray,40%);
        border-radius: 10px;
        margin-left: 40px;
        button{
            transform: translateY(-5px);
            padding: 10px 20px;
            border-radius: 10px;
            border: none;
            background: lightgray;
        }
        button:active{
            transform: translateY(0px);
        }
    }

    @keyframes fadeIn {
        0%{opacity: 0}
        100%{opacity: 1}
    }
    .overlay{
        animation: 0.5s ease-out 0s 1 fadeIn;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(0, 0, 0, 0.7);  
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .end-message{
        background-color: $slot-color;
        width: 100%;
        height: 25%;
        h1{
            display: inline-block;
            margin: 20px 10px;
        }
        span{
            margin: 0 -10px -5px 0;
        }
        @mixin endButton {
            display: inline-block;
            border-radius: 10px;
            margin: 0px 30px;
            button{
                transform: translateY(-5px);
                border: none;
                border-radius: 10px;
                padding: 10px;
                cursor: pointer;
                h2{
                    color: darken($deck-color, 2%);
                }
            }
            button:active{
                transform: translateY(0px);
            }
            
        }
        .view-board{
                @include endButton;
                background-color: darken($player-2-color, 20%);
            button{
                background-color: $player-2-color;
            }
        }
        .new-game{
                @include endButton;
                background-color: darken($player-1-color, 20%);
            button{
                background-color: $player-1-color;
            }
        }
    }
}





// Play Space Styles
.play-space{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

// Game Board Styles
.container{
    background-color: $hash-color;
    width: $container-size-lg;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $grid-gap-lg;
    row-gap: $grid-gap-lg - 10px;
    margin: auto;
}
.slot{
    background-color: $slot-color;
    width: $slot-size-lg;
    height: $slot-size-lg;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.slot:hover {
    background-color: lighten($slot-color, 10%);
}
.slot-shadow{
    background-color: darken($slot-color, 5%);
    width: $slot-size-lg;
    height: $slot-size-lg + 10px;
    border-radius: 10px;
    transform: translateY(7px);
}


// Player Deck Styles
.player-deck-shadow{
    background-color: darken($deck-color, 5%);
    width: $slot-size-lg;
    height: $deck-height-lg + 10px;
    border-radius: 10px;
}
.player-deck{
    background-color: $deck-color;
    width: $slot-size-lg;
    height: $deck-height-lg;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

@for $i from 1 through 5 {
    .coin-#{$i}{
        width: $coin-size-lg * ( 0.25 + ( 0.15 * $i ));
        height: $coin-size-lg * ( 0.25 + ( 0.15 * $i ));
        font-size: $coin-size-lg * ( 0.1 + ( 0.05 * $i ));
        color: $deck-color;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
    }
    .coin-shadow-#{$i}{
        width: $coin-size-lg * ( 0.25 + ( 0.15 * $i ));
        height: $coin-size-lg * ( 0.25 + ( 0.15 * $i ));
        border-radius: 50%;
        background-color: darken($player-1-color, 20%);
    }
    .coin-#{$i}:hover{
        cursor: pointer;
    }
}
.player-1 {
    @for $i from 1 through 5 {
    .coin-#{$i}{
        background-color: $player-1-color;
        transform: translateY(-3px - ($i * 0.7));
    }
    .coin-shadow-#{$i}{
        background-color: darken($player-1-color, 20%);
    }
    }
}
.player-2 {
    @for $i from 1 through 5 {
    .coin-#{$i}{
        background-color: $player-2-color;
        transform: translateY(-3px - ($i * 0.7));
    }
    .coin-shadow-#{$i}{
        background-color: darken($player-2-color, 20%);
    }
    }
}

// Footer Styles
Footer{
    .scoreboard{
        width: $container-size-lg;
        margin: auto;
        text-align: center;
        color: $deck-color;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @mixin scorecard {
            padding: 7px 0 7px 0;
            width: $slot-size-lg ;
            height: 55px;
            border-radius: 10px;
        }

        .player-1-score-shadow{
            .player-1-score{
                @include scorecard;
                background-color: $player-1-color;
            }
        }
        .tie-score-shadow{
            .tie-score{
                @include scorecard;
                background-color: lightgray;
                h2{
                    padding-top: 3px;
                }
            }
        }
        .player-2-score-shadow{
            .player-2-score{
                @include scorecard;
                background-color: $player-2-color;
                span.circle{
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    border: 5px solid $deck-color ;
                    display: inline-block;
                    margin: 4px 0 0 0;
                }
                h2{
                    margin-top: -1px;
                }
            }
        }
    }
}


// effects styles
@keyframes bounce {
    15% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}
.active{
    animation: bounce 1s infinite;
}
