@use 'sass:math';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    background-color: $background-color;
}

.TicTacToeApp {
    font-family: 'Roboto', sans-serif;
    background-color: $background-color;
}

header{
    width: $container-size-lg;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    color: white;
}

// Play Space Styles
.play-space{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

// Game Board Styles
.container{
    background-color: $hash-color;
    width: $container-size-lg;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $grid-gap-lg;
    row-gap: $grid-gap-lg - 10px;
    margin: auto;
}
.slot{
    background-color: $slot-color;
    width: $slot-size-lg;
    height: $slot-size-lg;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.slot:hover {
    background-color: lighten($slot-color, 10%);
}
.slot-shadow{
    background-color: darken($slot-color, 5%);
    width: $slot-size-lg;
    height: $slot-size-lg + 10px;
    border-radius: 10px;
    transform: translateY(7px);
}


// Player Deck Styles
.player-deck-shadow{
    background-color: darken($deck-color, 5%);
    width: $slot-size-lg;
    height: $deck-height-lg + 10px;
    border-radius: 10px;
}
.player-deck{
    background-color: $deck-color;
    width: $slot-size-lg;
    height: $deck-height-lg;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

@for $i from 1 through 5 {
    .coin-#{$i}{
        width: $coin-size-lg * ( 0.25 + ( 0.15 * $i ));
        height: $coin-size-lg * ( 0.25 + ( 0.15 * $i ));
        font-size: $coin-size-lg * ( 0.1 + ( 0.05 * $i ));
        color: $deck-color;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
    }
    .coin-shadow-#{$i}{
        width: $coin-size-lg * ( 0.25 + ( 0.15 * $i ));
        height: $coin-size-lg * ( 0.25 + ( 0.15 * $i ));
        border-radius: 50%;
        background-color: darken(#31C2BD, 20%);
    }
    .coin-#{$i}:hover{
        cursor: pointer;
    }
}
.player-1 {
    @for $i from 1 through 5 {
    .coin-#{$i}{
        background-color: #31C2BD;
        transform: translateY(-3px - ($i * 0.7));
    }
    .coin-shadow-#{$i}{
        background-color: darken(#31C2BD, 20%);
    }
    }
}
.player-2 {
    @for $i from 1 through 5 {
    .coin-#{$i}{
        background-color: #F2B138;
        transform: translateY(-3px - ($i * 0.7));
    }
    .coin-shadow-#{$i}{
        background-color: darken(#F2B138, 20%);
    }
    }
}


// effects styles
@keyframes bounce {
    15% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}
.active{
    animation: bounce 1s infinite;
}
