@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
body {
  background-color: #192a32;
}

.TicTacToeApp {
  font-family: "Roboto", sans-serif;
  background-color: #192a32;
}

header {
  width: 520px;
  margin: auto;
  text-align: center;
  color: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div.turn-signal {
  background: #132128;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 100px;
  border-radius: 10px;
}
header div.turn-signal h3 {
  margin: 5px;
}
header div.turn-signal .cross {
  padding-right: 3px;
}
header div.turn-signal span.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 5px solid #F2B138;
  display: inline-block;
  margin: 3px 0 0 0;
}
header div.title {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}
header div.title h1 {
  margin: 10px;
}
header span.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 10px solid #F2B138;
  display: inline-block;
  margin: 10px;
}
header .reset-shadow {
  background: #6d6d6d;
  border-radius: 10px;
  margin-left: 40px;
}
header .reset-shadow button {
  transform: translateY(-5px);
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: lightgray;
}
header .reset-shadow button:active {
  transform: translateY(0px);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header .overlay {
  animation: 0.5s ease-out 0s 1 fadeIn;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .end-message {
  background-color: #1e3640;
  width: 100%;
  height: 25%;
}
header .end-message h1 {
  display: inline-block;
  margin: 20px 10px;
}
header .end-message span {
  margin: 0 -10px -5px 0;
}
header .end-message .view-board {
  display: inline-block;
  border-radius: 10px;
  margin: 0px 30px;
  background-color: #b87c0c;
}
header .end-message .view-board button {
  transform: translateY(-5px);
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
header .end-message .view-board button h2 {
  color: #1b3039;
}
header .end-message .view-board button:active {
  transform: translateY(0px);
}
header .end-message .view-board button {
  background-color: #F2B138;
}
header .end-message .new-game {
  display: inline-block;
  border-radius: 10px;
  margin: 0px 30px;
  background-color: #1c716e;
}
header .end-message .new-game button {
  transform: translateY(-5px);
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
header .end-message .new-game button h2 {
  color: #1b3039;
}
header .end-message .new-game button:active {
  transform: translateY(0px);
}
header .end-message .new-game button {
  background-color: #31C2BD;
}

.play-space {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container {
  background-color: #192a32;
  width: 520px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  row-gap: 10px;
  margin: auto;
}

.slot {
  background-color: #1e3640;
  width: 160px;
  height: 160px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slot:hover {
  background-color: #2e5363;
}

.slot-shadow {
  background-color: #16272f;
  width: 160px;
  height: 170px;
  border-radius: 10px;
  transform: translateY(7px);
}

.player-deck-shadow {
  background-color: #16272f;
  width: 160px;
  height: 570px;
  border-radius: 10px;
}

.player-deck {
  background-color: #1e3640;
  width: 160px;
  height: 560px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}

.coin-1 {
  width: 48px;
  height: 48px;
  font-size: 18px;
  color: #1e3640;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.coin-shadow-1 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #1c716e;
}

.coin-1:hover {
  cursor: pointer;
}

.coin-2 {
  width: 66px;
  height: 66px;
  font-size: 24px;
  color: #1e3640;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.coin-shadow-2 {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: #1c716e;
}

.coin-2:hover {
  cursor: pointer;
}

.coin-3 {
  width: 84px;
  height: 84px;
  font-size: 30px;
  color: #1e3640;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.coin-shadow-3 {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background-color: #1c716e;
}

.coin-3:hover {
  cursor: pointer;
}

.coin-4 {
  width: 102px;
  height: 102px;
  font-size: 36px;
  color: #1e3640;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.coin-shadow-4 {
  width: 102px;
  height: 102px;
  border-radius: 50%;
  background-color: #1c716e;
}

.coin-4:hover {
  cursor: pointer;
}

.coin-5 {
  width: 120px;
  height: 120px;
  font-size: 42px;
  color: #1e3640;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.coin-shadow-5 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #1c716e;
}

.coin-5:hover {
  cursor: pointer;
}

.player-1 .coin-1 {
  background-color: #31C2BD;
  transform: translateY(-3.7px);
}
.player-1 .coin-shadow-1 {
  background-color: #1c716e;
}
.player-1 .coin-2 {
  background-color: #31C2BD;
  transform: translateY(-4.4px);
}
.player-1 .coin-shadow-2 {
  background-color: #1c716e;
}
.player-1 .coin-3 {
  background-color: #31C2BD;
  transform: translateY(-5.1px);
}
.player-1 .coin-shadow-3 {
  background-color: #1c716e;
}
.player-1 .coin-4 {
  background-color: #31C2BD;
  transform: translateY(-5.8px);
}
.player-1 .coin-shadow-4 {
  background-color: #1c716e;
}
.player-1 .coin-5 {
  background-color: #31C2BD;
  transform: translateY(-6.5px);
}
.player-1 .coin-shadow-5 {
  background-color: #1c716e;
}

.player-2 .coin-1 {
  background-color: #F2B138;
  transform: translateY(-3.7px);
}
.player-2 .coin-shadow-1 {
  background-color: #b87c0c;
}
.player-2 .coin-2 {
  background-color: #F2B138;
  transform: translateY(-4.4px);
}
.player-2 .coin-shadow-2 {
  background-color: #b87c0c;
}
.player-2 .coin-3 {
  background-color: #F2B138;
  transform: translateY(-5.1px);
}
.player-2 .coin-shadow-3 {
  background-color: #b87c0c;
}
.player-2 .coin-4 {
  background-color: #F2B138;
  transform: translateY(-5.8px);
}
.player-2 .coin-shadow-4 {
  background-color: #b87c0c;
}
.player-2 .coin-5 {
  background-color: #F2B138;
  transform: translateY(-6.5px);
}
.player-2 .coin-shadow-5 {
  background-color: #b87c0c;
}

@keyframes bounce {
  15% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.active {
  animation: bounce 1s infinite;
}