@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
body {
  background-color: #192a32;
}

.TicTacToeApp {
  font-family: "Roboto", sans-serif;
  background-color: #192a32;
}

header {
  width: 520px;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
  color: white;
}

.play-space {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container {
  background-color: #192a32;
  width: 520px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  row-gap: 10px;
  margin: auto;
}

.slot {
  background-color: #1e3640;
  width: 160px;
  height: 160px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slot:hover {
  background-color: #2e5363;
}

.slot-shadow {
  background-color: #16272f;
  width: 160px;
  height: 170px;
  border-radius: 10px;
  transform: translateY(7px);
}

.player-deck-shadow {
  background-color: #16272f;
  width: 160px;
  height: 570px;
  border-radius: 10px;
}

.player-deck {
  background-color: #1e3640;
  width: 160px;
  height: 560px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}

.coin-1 {
  width: 48px;
  height: 48px;
  font-size: 18px;
  color: #1e3640;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.coin-shadow-1 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #1c716e;
}

.coin-1:hover {
  cursor: pointer;
}

.coin-2 {
  width: 66px;
  height: 66px;
  font-size: 24px;
  color: #1e3640;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.coin-shadow-2 {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: #1c716e;
}

.coin-2:hover {
  cursor: pointer;
}

.coin-3 {
  width: 84px;
  height: 84px;
  font-size: 30px;
  color: #1e3640;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.coin-shadow-3 {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background-color: #1c716e;
}

.coin-3:hover {
  cursor: pointer;
}

.coin-4 {
  width: 102px;
  height: 102px;
  font-size: 36px;
  color: #1e3640;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.coin-shadow-4 {
  width: 102px;
  height: 102px;
  border-radius: 50%;
  background-color: #1c716e;
}

.coin-4:hover {
  cursor: pointer;
}

.coin-5 {
  width: 120px;
  height: 120px;
  font-size: 42px;
  color: #1e3640;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.coin-shadow-5 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #1c716e;
}

.coin-5:hover {
  cursor: pointer;
}

.player-1 .coin-1 {
  background-color: #31C2BD;
  transform: translateY(-3.7px);
}
.player-1 .coin-shadow-1 {
  background-color: #1c716e;
}
.player-1 .coin-2 {
  background-color: #31C2BD;
  transform: translateY(-4.4px);
}
.player-1 .coin-shadow-2 {
  background-color: #1c716e;
}
.player-1 .coin-3 {
  background-color: #31C2BD;
  transform: translateY(-5.1px);
}
.player-1 .coin-shadow-3 {
  background-color: #1c716e;
}
.player-1 .coin-4 {
  background-color: #31C2BD;
  transform: translateY(-5.8px);
}
.player-1 .coin-shadow-4 {
  background-color: #1c716e;
}
.player-1 .coin-5 {
  background-color: #31C2BD;
  transform: translateY(-6.5px);
}
.player-1 .coin-shadow-5 {
  background-color: #1c716e;
}

.player-2 .coin-1 {
  background-color: #F2B138;
  transform: translateY(-3.7px);
}
.player-2 .coin-shadow-1 {
  background-color: #b87c0c;
}
.player-2 .coin-2 {
  background-color: #F2B138;
  transform: translateY(-4.4px);
}
.player-2 .coin-shadow-2 {
  background-color: #b87c0c;
}
.player-2 .coin-3 {
  background-color: #F2B138;
  transform: translateY(-5.1px);
}
.player-2 .coin-shadow-3 {
  background-color: #b87c0c;
}
.player-2 .coin-4 {
  background-color: #F2B138;
  transform: translateY(-5.8px);
}
.player-2 .coin-shadow-4 {
  background-color: #b87c0c;
}
.player-2 .coin-5 {
  background-color: #F2B138;
  transform: translateY(-6.5px);
}
.player-2 .coin-shadow-5 {
  background-color: #b87c0c;
}

@keyframes bounce {
  15% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.active {
  animation: bounce 1s infinite;
}